/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';


.container {
    background: #ecf0f7; 
    padding-left: 25px;
    padding-right: 25px;
    height: 1000px;
}

.nav, .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links ul, .right ul{
    display: flex;
    gap: 25px;
}
.links ul li, .right ul li{
    list-style: none;
}
.links ul li a, .right ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.links ul li a:hover, .right ul li a:hover{
    background: #cce0ff;
    padding: 8px;
    border-radius: 6px;
    
}

.landing-body{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.guidelines{
    display: flex;
    position: relative;
    left: 100px;
}
.card{
    background: #fff !important;
    border-radius: 8px;
    width: 380px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 5px;
    text-align: left !important;
    padding: 5px;
}
.card .number{
    background: #cce0ff;
    border-radius: 8px;
    position: relative;
    top: 32px;
    width: 60px;
    height: 60px;
}
.card .number h1{
    text-align: center;
    position: relative;
    bottom: 13px;
}

/* elements */
.name span{
    font-size: 1.8em;
    color: #4d94ff;
    border-bottom: 7px solid #4d94ff;
}
.register-link{
    background:  #cce0ff ;
    padding: 8px;
    border-radius: 6px;
}
.register-link:hover {
    background: #a7c8f9 !important;
}
.welcome{
    font-size: 50px;
}
.wel-title{
    color: #4d94ff;
    font-size: 1.2em;
    font-style: italic;
}
.get-started{
    position: relative;
    left: 550px;
}

/* footer */
.footer{
    text-align: center;
    position: relative;
    top: 30px;
}

.footer h3{
    font-size: 1.6em;
}
/* popular categories */
.popular-section{
    position: relative;
    top: 20px;
}
.popular{
    display: flex;
    justify-content: space-around;
}
.category{
    background: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    line-height: 6px;
}
.category .icon{
    color: #4d94ff;
}
.popular-head{
    text-align: center;
    font-size: 1.6em;
}

/* REGISTER FORMS */
.register{
    background: #f1f1f1;

}
.content form{
    background: #fff;
    padding: 45px;
    border-radius: 8px;
    width: 900px;
    position: relative;
    left: 17%;
    
}
.register-head{
    text-align: center;
    color: #4d94ff;
}
.fields{
    position: relative;
    left: 13%;
}
.head-border-bottom{
    background: #4d94ff;
    position: relative;
    left: 38%;
    bottom: 5px !important;
    width: 180px;
    height: 7px;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 60px;  
}
.register-button{
    position: relative;
    left: 40%;
}
.already-with-account{
    text-align: end;
}
.already-with-account a{
    color: #4d94ff;
}

/* ADD JOB FORM */
.add-job{
    background-color: #fff;
    border-radius: 12px;
    padding: 6px;
}
.add-job form{
    position: relative;
    left: 15%;
}
.add-job-head{
    text-align: center;
}
.content .reset{
    margin-top: 50px;
}

/* LOGIN FORM */
.get-started-link{
    color: #4d94ff;
    margin-left: 10px;
}

/* JOBS PAGE */
.applyLink {
    background: #4d94ff;
    margin-left: 5px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px;
    color: #fff;
}
a{
    text-decoration: none !important;
}
.applyLink a{
    text-decoration: none;
}
.applyLink:hover{
    background: #4b80d0;
}



